@charset "UTF-8";
/**** RESET CSS ****/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

ul li {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/**** / RESET CSS ****/
body {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3 {
  font-weight: 700;
}

a {
  color: #000000;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 30px;
  }
}
header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65px;
  -webkit-box-shadow: 0px -5px 20px 4px rgba(0, 0, 0, 0.15);
  box-shadow: 0px -5px 20px 4px rgba(0, 0, 0, 0.15);
}
header .return-btn {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 70px;
  font-size: 18px;
}
header .return-btn i {
  margin-left: 20px;
}
header img {
  width: 200px;
  height: 30px;
}

footer {
  background-color: #353535;
  color: #FFFFFF;
}
footer h2 {
  font-family: "Shrikhand", cursive;
}
footer ul li {
  margin-top: 5px;
}
footer ul li:first-child::before {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  margin-right: 15px;
  font-size: 14px;
}
footer ul li:nth-child(2)::before {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  margin-right: 15px;
  font-size: 10px;
}
footer ul li a {
  color: #FFFFFF;
}

@media only screen and (min-width: 768px) {
  footer {
    text-align: center;
  }
}
.container {
  padding: 30px 20px;
}

.search-location {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #eaeaea;
}
.search-location::before {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  margin-right: 15px;
}
.search-location input {
  border: none;
  background-color: transparent;
  font-weight: 700;
}

.introduction {
  padding: 40px;
  text-align: center;
  background-color: #f6f6f6;
}
.introduction h1 {
  margin-bottom: 20px;
}
.introduction p {
  margin-bottom: 25px;
  color: #656565;
}
.introduction button {
  display: block;
  margin: auto;
  padding: 15px 20px;
  border-radius: 30px;
  color: #FFFFFF;
  font-weight: 700;
  border: none;
  outline: none;
  background: linear-gradient(0deg, #9356dc 0%, #ff79da 100%);
  -webkit-box-shadow: 0px 11px 20px -10px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 11px 20px -10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.introduction button:hover {
  -webkit-box-shadow: 0px 6px 15px -5px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 6px 15px -5px rgba(0, 0, 0, 0.6);
  opacity: 0.9;
  transition: 0.2s;
}

.steps ul li {
  position: relative;
  padding: 25px;
  margin: 0 0 25px 15px;
  border-radius: 15px;
  -webkit-box-shadow: 0px 11px 20px -15px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 11px 20px -15px rgba(0, 0, 0, 0.3);
  background-color: #f6f6f6;
}
.steps ul li:first-child::before {
  content: "1";
  position: absolute;
  top: 30%;
  left: -15px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #9356DC;
  text-align: center;
  color: #FFFFFF;
}
.steps ul li:nth-child(2)::before {
  content: "2";
  position: absolute;
  top: 30%;
  left: -15px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #9356DC;
  text-align: center;
  color: #FFFFFF;
}
.steps ul li:nth-child(3)::before {
  content: "3";
  position: absolute;
  top: 30%;
  left: -15px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #9356DC;
  text-align: center;
  color: #FFFFFF;
}
.steps ul li .choose-restaurant::before {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  margin-right: 15px;
  color: #7e7e7e;
}
.steps ul li .compose-menu::before {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  margin-right: 15px;
  color: #7e7e7e;
}
.steps ul li .eat-restaurant::before {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  margin-right: 15px;
  color: #7e7e7e;
}

@media only screen and (min-width: 1024px) {
  .container {
    width: 70%;
    margin: auto;
  }

  .steps ul {
    display: flex;
    flex-wrap: wrap;
  }
  .steps ul li {
    flex: none;
    margin-right: 30px;
  }
  .steps ul li a {
    font-size: 20px;
  }
}
.restaurant-cards {
  background-color: #f6f6f6;
}
.restaurant-cards ul li {
  position: relative;
  margin-bottom: 20px;
  border-radius: 15px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 11px 20px -15px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 11px 20px -15px rgba(0, 0, 0, 0.3);
}
.restaurant-cards ul li img {
  border-radius: 15px 15px 0 0;
  width: 100%;
  height: 175px;
  object-fit: cover;
  object-position: bottom;
}
.restaurant-cards ul li:nth-child(2) img {
  object-position: 0 -150px;
}
.restaurant-cards ul li .card-infos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 25px 20px 15px;
}
.restaurant-cards ul li .card-infos p {
  color: #656565;
}
.restaurant-cards ul li .card-infos i {
  font-size: 30px;
}
.restaurant-cards ul li .new-tag {
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 5px 15px;
  background-color: #99E2D0;
  border-radius: 3px;
  color: #37806e;
  font-weight: 700;
}

@media only screen and (min-width: 1024px) {
  .restaurant-cards ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .restaurant-cards ul li {
    display: block;
    width: calc(50% - 40px / 2);
    height: 400px;
  }
  .restaurant-cards ul li figure {
    height: 250px;
  }
  .restaurant-cards ul li figure img {
    height: 100%;
  }
  .restaurant-cards ul li figure img:nth-child(2) img {
    object-position: 0;
  }
  .restaurant-cards ul li .card-infos .like {
    position: relative;
  }
  .restaurant-cards ul li .card-infos .like i {
    position: absolute;
    top: -15px;
    right: 10px;
    font-size: 30px;
  }
  .restaurant-cards ul li .card-infos .like i.is-active:hover {
    font-weight: bold;
    background: linear-gradient(to bottom, #9356DC 0%, #FF79DA 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .restaurant-cards ul li h3 {
    font-size: 24px;
  }
  .restaurant-cards ul li p {
    font-size: 20px;
  }
}
@media only screen and (min-width: 768px) {
  .restaurant-cards ul li figure {
    height: 280px;
  }
  .restaurant-cards ul li figure img {
    height: 100%;
  }
}
.menu .menu-entree,
.menu .menu-dishes,
.menu .menu-dessert {
  margin-top: 30px;
}
.menu .menu-entree h2,
.menu .menu-dishes h2,
.menu .menu-dessert h2 {
  color: #656565;
  font-weight: 500;
  font-size: 16px;
}
.menu .menu-entree .separator,
.menu .menu-dishes .separator,
.menu .menu-dessert .separator {
  width: 40px;
  height: 3px;
  margin-bottom: 15px;
  background-color: #99E2D0;
}
.menu .menu-entree ul li,
.menu .menu-dishes ul li,
.menu .menu-dessert ul li {
  display: flex;
  flex: none;
  justify-content: space-between;
  border-radius: 20px;
  background-color: #FFFFFF;
  margin-bottom: 15px;
  -webkit-box-shadow: 0px 11px 20px -15px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 11px 20px -15px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  animation: fadeIn 1s linear;
  animation-fill-mode: both;
}
.menu .menu-entree ul li div.menu-entree-infos,
.menu .menu-dishes ul li div.menu-entree-infos,
.menu .menu-dessert ul li div.menu-entree-infos {
  width: 100%;
  height: auto;
  padding: 10px;
}
.menu .menu-entree ul li h3,
.menu .menu-dishes ul li h3,
.menu .menu-dessert ul li h3 {
  max-width: 270px;
  font-size: 18px;
}
.menu .menu-entree ul li div.menu-price,
.menu .menu-dishes ul li div.menu-price,
.menu .menu-dessert ul li div.menu-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu .menu-entree ul li div.menu-price p,
.menu .menu-dishes ul li div.menu-price p,
.menu .menu-dessert ul li div.menu-price p {
  width: 80%;
  color: #656565;
  font-weight: 400;
  font-size: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.menu .menu-entree ul li div.menu-price p,
.menu .menu-entree ul li div.menu-price span,
.menu .menu-dishes ul li div.menu-price p,
.menu .menu-dishes ul li div.menu-price span,
.menu .menu-dessert ul li div.menu-price p,
.menu .menu-dessert ul li div.menu-price span {
  display: block;
}
.menu .menu-entree ul li div.add-to-cart,
.menu .menu-dishes ul li div.add-to-cart,
.menu .menu-dessert ul li div.add-to-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: none;
  height: auto;
  width: 55px;
  background-color: #99E2D0;
  border-radius: 0 20px 20px 0;
  margin-right: -55px;
  transition: all 0.4s;
}
.menu .menu-entree ul li div.add-to-cart span,
.menu .menu-dishes ul li div.add-to-cart span,
.menu .menu-dessert ul li div.add-to-cart span {
  display: inline-block;
  background-color: #FFFFFF;
  height: 20px;
  width: 20px;
  line-height: 20px;
  border-radius: 50%;
  text-align: center;
}
.menu .menu-entree ul li div.add-to-cart span i,
.menu .menu-dishes ul li div.add-to-cart span i,
.menu .menu-dessert ul li div.add-to-cart span i {
  color: #99E2D0;
  font-size: 12px;
}
.menu .menu-entree ul li:hover div.add-to-cart,
.menu .menu-dishes ul li:hover div.add-to-cart,
.menu .menu-dessert ul li:hover div.add-to-cart {
  margin-right: 0;
  transform: translateX(0);
}
.menu .menu-entree ul li:hover div.add-to-cart span,
.menu .menu-dishes ul li:hover div.add-to-cart span,
.menu .menu-dessert ul li:hover div.add-to-cart span {
  transform: rotate(360deg);
  transition: transform 1s;
}
.menu button.order {
  margin-bottom: 30px;
}

.menu ul li:nth-child(1) {
  animation-delay: 0.25s;
}

.menu ul li:nth-child(2) {
  animation-delay: 0.5s;
}

.menu ul li:nth-child(3) {
  animation-delay: 0.75s;
}

.menu ul li:nth-child(4) {
  animation-delay: 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.menu-img {
  width: 100%;
  height: 255px;
  object-fit: cover;
}

.menu {
  position: relative;
  top: -45px;
  margin-bottom: -45px;
  background-color: #f6f6f6;
  border-radius: 30px 30px 0 0;
  z-index: 5;
}
.menu .menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu .menu-header h1 {
  font-family: "Shrikhand", cursive;
  font-size: 25px;
}
.menu .menu-header i {
  font-size: 30px;
}
.menu button {
  display: block;
  margin: auto;
  padding: 15px 20px;
  border-radius: 30px;
  color: #FFFFFF;
  font-weight: 700;
  border: none;
  outline: none;
  background: linear-gradient(0deg, #9356dc 0%, #ff79da 100%);
  -webkit-box-shadow: 0px 11px 20px -10px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 11px 20px -10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  padding: 15px 40px;
  margin-top: 35px;
}
.menu button:hover {
  -webkit-box-shadow: 0px 6px 15px -5px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 6px 15px -5px rgba(0, 0, 0, 0.6);
  opacity: 0.9;
  transition: 0.2s;
}

/*# sourceMappingURL=style.css.map */
