@charset "UTF-8";
/**** RESET CSS ****/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

ul li {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/**** / RESET CSS ****/
body {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3 {
  font-weight: 900;
}

a {
  color: #000000;
  cursor: pointer;
}

header {
  -webkit-box-shadow: 0px -5px 18px 6px rgba(0, 0, 0, 0.37);
  box-shadow: 0px -5px 18px 6px rgba(0, 0, 0, 0.37);
}
header a {
  width: 100%;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header a > img {
  width: 200px;
  height: 30px;
}

.container {
  padding: 50px 20px;
}

.search-location {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #eaeaea;
}
.search-location::before {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 15px;
}
.search-location input {
  border: none;
  background-color: transparent;
  font-weight: 700;
}

.introduction {
  padding: 40px;
  text-align: center;
  background-color: #f6f6f6;
}
.introduction h1 {
  margin-bottom: 20px;
}
.introduction p {
  margin-bottom: 25px;
  color: #656565;
}
.introduction button {
  border-radius: 25px;
  color: #FFFFFF;
  border: none;
  outline: none;
  padding: 15px 20px;
  background: linear-gradient(0deg, #9356dc 0%, #ff79da 100%);
  cursor: pointer;
}

.steps ul li {
  position: relative;
  padding: 25px;
  margin: 0 0 25px 15px;
  border-radius: 15px;
  -webkit-box-shadow: 0px 11px 20px -15px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 11px 20px -15px rgba(0, 0, 0, 0.3);
}
.steps ul li:first-child::before {
  content: "1";
  position: absolute;
  top: 30%;
  left: -15px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #9356DC;
  text-align: center;
  color: #FFFFFF;
}
.steps ul li:nth-child(2)::before {
  content: "2";
  position: absolute;
  top: 30%;
  left: -15px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #9356DC;
  text-align: center;
  color: #FFFFFF;
}
.steps ul li:nth-child(3)::before {
  content: "3";
  position: absolute;
  top: 30%;
  left: -15px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #9356DC;
  text-align: center;
  color: #FFFFFF;
}
.steps ul li .choose-restaurant::before {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 15px;
  color: #7e7e7e;
}
.steps ul li .compose-menu::before {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 15px;
  color: #7e7e7e;
}
.steps ul li .eat-restaurant::before {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 15px;
  color: #7e7e7e;
}

.restaurant-cards {
  background-color: #f6f6f6;
}
.restaurant-cards ul li {
  margin-bottom: 20px;
  border-radius: 15px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 11px 20px -15px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 11px 20px -15px rgba(0, 0, 0, 0.3);
}
.restaurant-cards ul li img {
  border-radius: 15px 15px 0 0;
  width: 100%;
  height: 175px;
  object-fit: cover;
  object-position: bottom;
}
.restaurant-cards ul li:nth-child(2) img {
  object-position: 0 -150px;
}
.restaurant-cards ul li .card-infos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 25px 20px 15px;
}
.restaurant-cards ul li .card-infos p {
  color: #656565;
}
.restaurant-cards ul li .card-infos i {
  font-size: 30px;
}

/*# sourceMappingURL=style.css.map */
