.container {
  padding: 50px 20px;
}
.search-location {
  display: flex;
  justify-content: center;
  align-items: center;
  height:50px;
  background-color: #eaeaea;

  &::before {
    @include font-icon("\f3c5");
  }

  input {
    border: none;
    background-color: transparent;
    font-weight: 700;
  }
}

.introduction {
  padding: 40px;
  text-align: center;
  background-color: #f6f6f6;

  h1 {
    margin-bottom: 20px;
  }
  p {
    margin-bottom: 25px;
    color: #656565;
  }
  button {
    @include buttons;
  }
}