.menu {
  position: relative;
  top: -45px;
  margin-bottom: -45px;
  background-color: #f6f6f6;
  border-radius: 30px 30px 0 0;
  z-index: 5;

  .menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      font-family: $title-font;
      font-size: 28px;
    }
    i {
      font-size: 30px;
    }
  }

  button {
    @include buttons;
    padding: 15px 40px;
    margin-top: 35px;
  }
}
