@mixin buttons {
  display: block;
  margin: auto;
  padding: 15px 20px;
  border-radius: 30px;
  color: $color-white;
  font-weight: $font-bold;
  border: none;
  outline: none;
  background: linear-gradient(0deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 100%);
  box-shadow: 0px 11px 20px -10px rgba(0,0,0,0.3);
  cursor:pointer;

  &:hover {
    box-shadow: 0px 6px 15px -5px rgba(0,0,0,0.6);
    opacity: .9;
    transition: .2s;
  }
}

@mixin font-icon($content, $font-family: $font-icon, $font-bold: $font-bold) {
  content: $content;
  font-family: $font-icon;
  font-weight: $font-bold;
  margin-right: 15px;
}

@mixin steps($content) {
  content: $content;
  position:absolute;
  top: 30%;
  left: -15px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: $color-primary;
  text-align: center;
  color: $color-white;
}

@mixin tags {
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 5px 15px;
    background-color: $color-third;
    border-radius: 3px;
    color: #37806e;
    font-weight: $font-bold;
}

@mixin like {
  &:hover {
    font-weight: bold;
    background: linear-gradient(to bottom, #9356DC 0%,#FF79DA 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
    animation: fadeIn .5s linear;
    animation-fill-mode: both;
  }   
}
