@mixin buttons {
    border-radius: 25px;
    color: $color-white;
    border: none;
    outline: none;
    padding: 15px 20px;
    background: linear-gradient(0deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 100%);
    cursor:pointer;
}

@mixin font-icon($content, $font-family: $font-icon, $font-bold: $font-bold) {
    content: $content;
    font-family: $font-icon;
    font-weight: $font-bold;
    margin-right: 15px;
}

@mixin steps($content) {
    content: $content;
    position:absolute;
    top: 30%;
    left: -15px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: $color-primary;
    text-align: center;
    color: $color-white;
}

@mixin tags {
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 5px 15px;
    background-color: $color-third;
    border-radius: 3px;
    color: #37806e;
    font-weight: $font-bold;
}
