footer{
  background-color: #353535;
  color: $color-white;

  h2 {
      font-family: $title-font;
  }

  ul li {
    margin-top: 5px;
    &:first-child {
      &::before {
        @include font-icon("\f2e7");
        font-size: 14px;
      }
    }
    &:nth-child(2) {
      &::before {
        @include font-icon("\f4c4");
        font-size: 10px;
      }
    }
    a {
      color: $color-white
    }
  }
}

@media only screen and (min-width: 768px) {
  footer {
    text-align: center;
  }
}
